.friends-display-link {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 15px;
  background-color: rgba(209, 208, 206, 0.356);
  padding: 10px;
  font-size: 14px;
}

.friends-display-link i {
  color: var(--gray);
}

.friends-display-link a {
  margin: 0 5px;
}

.friends-screen {
  padding: 0 var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray);
}

@keyframes splashAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130px;
  z-index: 3;
  animation: splashAnimation 0.7s ease-in-out 1.5s forwards;
}
