@keyframes badgeAnimation {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: none;
  }
  100% {
    transform: translateY(-5px);
  }
}

.badge {
  display: flex;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: tomato;
  font-size: 13px;
  animation: badgeAnimation 1s ease infinite;
}
