.icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.icons__icon i {
  font-size: 30px;
  margin-bottom: 15px;
}

.icons__icon span {
  font-size: 13px;
  max-width: 60px;
  text-align: center;
}
