.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: var(--main-border);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  bottom: 15px;
  left: 18px;
}

.nav__link div {
  position: absolute;
  bottom: 27px;
  left: 27px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: tomato;
}
