.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px var(--horizontal-space) 25px var(--horizontal-space);
}

.screen-header__title {
  font-size: 30px;
  font-weight: 500;
}

.screen-header__icons span {
  margin-left: 20px;
}

@keyframes rotateSettings {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateSettings 2s linear infinite;
}
